@model IEnumerable<EmprestimoLivros.Models.Emprestimo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
    </p>*@

    <a class="btn btn-primary" asp-controller="Emprestimoes" asp-action="Create" role="button">Adicionar novo empréstimo</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DtEmpretimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtDevolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DtEmpretimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtDevolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmprestimoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmprestimoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmprestimoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
